## Assignment 3 del Grupo 2

#### Miembros:
* Angie Quispe
* Carlos Crespin
* Jenny Tello

## 1.1 Conditional statements

1. You work at a college admissions office. When inspecting a dataset of college applicants, you notice that some students have represented their grades with letters (`"AD"`, `"A"`, `"B"`, `"C"`), whereas others have represented their grades with a number between 0 and 20.

    You realize that for consistency, all of the grades should be formatted in the same way, and you decide to format them all as letters. For the conversion, you decide to assign:

    - `"AD"` - any grade 18-20, inclusive
    - `"A"` - any grade 14-17, inclusive
    - `"B"` - any grade 10-13, inclusive
    - `"C"` - any grade <10

    Write a function get_grade() that takes as input:
    - `score` - an integer 0-20 corresponding to a numerical grade

   It should return a Python string with the letter grade that it corresponds to. For instance,

    - A score of 12 corresponds to a B grade. In other words, `get_grade(12)` should return `"B"`.
    - A score of 3 corresponds to an C grade. In other words, `get_grade(3)` should return `"C"`.

   Make sure that when supplying the grade that is returned by the function, it is enclosed in quotes. (For instance, if you want to return `"A"`, you should write `return "A"` and not `return A`.)

In [27]:
#We use the comand get_grade() as a function and add the if conditional

def get_grade(score):
    if  score <= 10:
        print("The grade is C")
    elif score <= 13 & score >= 10:
        print("The grade is B")
    elif score <= 17 & score >= 14:    
        print("The grade is A")
    else:
        print("The grade is AD")

In [28]:
#We check the results
get_grade(12)

The grade is B

In [30]:
#We check the results
get_grade(20)

The grade is AD

2. You are a programmer at a water agency. Recently, you have been tasked to write a function `get_water_bill()` that takes as input:

    - `num_gallons` = the number of gallons of water that a customer used that month. (This will always be an integer with no decimal part.)

   It should output the water bill.

   The water agency uses this pricing structure:

| Tier        | Amount in gallons | Price per 1000 gallons |
| ----------- | ----------------  | ---------------------- |
| Tier 1      | 0 - 8,000         | 5                      |
| Tier 2      | 8,001 - 22,000    | 6                      |
| Tier 3      | 22,001 - 30,000	  | 7                      |
| Tier 4      | 30,001+	      	  | 10                     |

In [32]:
#We use the comand def get_water_bill() as a function to get the bills
#The equation that we use is (num_gallons/1000)*i where i depends in 
#amount in gallons

def get_water_bill(num_gallons):
    if num_gallons <= 8000:
        bill = (num_gallons/1000)*5
    elif num_gallons <= 22000:
        bill = (num_gallons/1000)*6
    elif num_gallons <= 30000:
        bill = (num_gallons/1000)*7
    else:
        bill = (num_gallons/1000)*10
    return bill

In [33]:
#We check the results
get_water_bill(7000)

35.0

In [34]:
#We check the results
get_water_bill(22500)

157.5