# Assignment 3

1. Inspect this dataset `./_data/bogota_firms.xlsx` and show some descriptive statistics of it.
2. Reshape the dataset from wide to long at year level. Drop columns if they are in Dollars. Keep columns from Operating revenue (Turnover) th LCU 2023 to the end, and the name of the firm.
3. Rename the columns and use short names for each column. This new name should be shorter than 20 characters.
4. Generate a dictionary with the definition of all the columns in your dataset.
5. Generate a function named as calling_data that take as input the `name of the firm  or list of names (firm_name)` and `(start_year, end_year)`. The function should return a tuple with a dataframe with the same format as the one resulting from task 1-4, and your dictionary of columns. The function should work without `end_year`. It means it only takes `start_year`.
6. Generate a class that do the same as the function, but has a method named as `descripitive` that gives you the mean, max, min, median, and rolling average .

In [ ]:
# Ejercicio 1 LISTO!

# Inspect this dataset ./_data/bogota_firms.xlsx and show some descriptive statistics of it.
import pandas as pd

# Load the dataset
file_path = r"C:\Users\HP\Documents\GitHub\QLAB_Summer_Python\_data\bogota_firms.xlsx"
df = pd.read_excel(file_path, sheet_name="Results", header=0)
df

In [ ]:
# Show some descriptive statistics of the dataset LISTO!
statistics = df.describe()

# Display the descriptive statistics
# Mostramos las principales estadÃ­sticas descriptivas para las variables que no poseen 'missing values'
statistics

In [ ]:
# Ejercicio 2 LISTO!

# Primero, eliminamos todos los encabezados que contengan la palabra "USD"
columns_usd = [col for col in df.columns if 'USD' in col]                                                                                        
df2 = df.drop(columns=columns_usd)
df2

In [ ]:
# Finalmente, nos quedamos con las columnas solicitadas por el ejercicio LISTO!

keep_columns = ['Company name Latin alphabet'] + [col for col in df.columns if 'Operating revenue (Turnover)\nth LCU' in col]
df3 = df[keep_columns]
df3

In [ ]:
# Reshape the dataset from wide to long at the year level LISTO!
id_vars = ['Company name Latin alphabet']
value_vars = [col for col in df3.columns if col != 'Company name Latin alphabet']
long_df = pd.melt(df3, id_vars=id_vars, value_vars=value_vars, var_name="Year", value_name="Revenue")

# Display the long format DataFram
long_df

In [1]:
# Ejercicio 3 LISTO!

# Cambiar el nombre de las columnas
new_names = {'Company name Latin alphabet': 'Company Name', **{col: col.replace('Operating revenue (Turnover)\nth LCU', 'Op. Rev.') for col in df.columns if 'Operating revenue (Turnover)\nth LCU' in col}}

df_new_names = df3.rename(columns=new_names)
df_new_names

NameError: name 'df' is not defined

In [2]:
# Ejercicio 4 LISTO!

# Creamos un diccionario a partir de los datos del "df" del ejercicio 1
df_dictionary = {column: df[column].tolist() for column in df.columns[1:]}
df_dictionary

NameError: name 'df' is not defined