In [1]:
# 1 Assignment 2

##1.2 LISTS

In [3]:
import numpy as np #import the library

In [4]:
#1.
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ] # we use 'f_list' as provided in Assignment 2
f_list[0] # we check the nan.value
# we find indices where np.nan values exist
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, (float,np.floating)) and np.isnan(value)]

# Print the result
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [5]:

#2. Given p2_list
p2_list = [ 2 , 3, 4, 5 ]

#we replicate 4 times p2_list 

replicated_p2_list = p2_list * 4
print(replicated_p2_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [6]:
#3.
#We use f_list in #1 and print its length
len(f_list)

8

In [7]:
#4. We use 'text1' as provided in Assignment 2
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
# We join the elements of the list into a string using join function
sentence = ' '.join(text1)
print(sentence)

My teacher assistant is so boring.

In [8]:
#5. Print My TA is so boring, but is very funny. using text1 list
#First we extend text 1

text2 = ['boring,', 'but', 'is', 'very', 'funny.']
new_text = text1[:5]
new_text.extend(text2)

result = ' '.join(new_text)

print(result)

My teacher assistant is so boring, but is very funny.

In [9]:
#6. Given 'values1'
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
#we need to find the max and min values, and its index 
max_value = max(values1)
max_index = values1.index(max_value)

min_value = min(values1)
min_index = values1.index(min_value)

#Finally we print the statement 
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [10]:
#7. Using 'Last_and_name' list we need to get two separated lists
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]

#we use map and split functions
split_names = list(map(lambda x: x.split(', '), last_and_name))
# FInally we get the lists of last names and names
last_names = [x[0] for x in split_names]
names = [x[1] for x in split_names]

print("Last names:", last_names)
print("Names:", names)

Last names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']
Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

In [11]:
#8. given 'emails' and using 'last_names' obtain from #7 we need to get a new list with the last name of students who do not have an email.
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# First, we extract the last names from the email addresses
email_last_names = list(map(lambda x: x.split('@')[0].split('.')[0], emails))

# Finally,we find the students who do not have an email
students_without_email = [x for x in last_names if x.lower() not in email_last_names]

print(students_without_email)

['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

##1.3 STRINGS

In [12]:
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe","joselin.chavez@pucp.edu.pe",
        "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", 
        "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", 
        "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", 
        "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [17]:
#1
words = str1.split(' ') #crea una lista con cada caracter de words

filtered_words = [word for word in words if word != ''] # Filtra los espacios vacios/espacios y deja una lista con las palabras

result = ' '.join(filtered_words) #cosntruye la oración 

print(result)

I am too old

In [22]:
#2
a = str1.replace(' ', '')  # Elimina los espacios en blanco del string
len(a)

9

In [24]:
#3
espacios = str1
for i in espacios:
    if i != " ":
        espacios = espacios.replace(i, '') #un bucle para eliminar las letras y que queden solo espacios
cantidad_espacios = len(espacios) #cuenta los spacios
print(cantidad_espacios)

85

In [26]:
#4
positions = list(map(lambda email: email.find('@'), emails))
# con el lambda se busca hallar la posicion del @ para un correo 
# en conjunto con el map, se aplica la funcion paara toda la lista emails
# y con list, se crea una lista con todas las posiciones
print(positions)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [33]:
#5
contains_edu = list(map(lambda email: '.edu.' in email, emails))

# con el lambda se busca hallar si hay '.edu.' en un correo 
# en conjunto con el map, se aplica la funcion paara toda la lista emails
# y con list, se crea una lista con los boleanos obtenidos

print(contains_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [39]:
#6

before_first_dot = list(map(lambda email: email[:email.find('.')], emails))
# con el lambda se separa todo lo que hay antes del primer punto en un correo 
# en conjunto con el map, se aplica la funcion paara toda la lista emails
# y con list, se crea una lista con los str obtenidos


count_with_at = sum(1 for string in before_first_dot if '@' in string) 
# Esta función cuenta todos los str que quedaron con un '@'

print(count_with_at)

14

1.4 PANDAS

In [1]:
import numpy as np
import pandas as pd

In [2]:
#1. Load Data
df = pd.read_csv("https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv")

In [7]:
df.dtypes

DATE       object
OPEN      float64
HIGH      float64
LOW       float64
CLOSE     float64
LEVEL    category
dtype: object

In [3]:
#2. Explore Data
#a) Display the first five rows of the DataFrame
df.head(5)

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26

In [4]:
#b) Display the summary statistics of the DataFrame
df.describe()

              OPEN         HIGH          LOW        CLOSE
count  8576.000000  8576.000000  8576.000000  8576.000000
mean     19.667087    20.475051    18.915540    19.581101
std       7.979316     8.440179     7.470016     7.906388
min       9.010000     9.310000     8.560000     9.140000
25%      13.937500    14.540000    13.407500    13.880000
50%      17.795000    18.470000    17.220000    17.760000
75%      23.102500    23.960000    22.322500    22.990000
max      82.690000    89.530000    72.760000    82.690000

In [6]:
#3. Add Columns
#a) add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30)
df["LEVEL"] = pd.cut(df['CLOSE'], bins=[-float('inf'), 20, 30, float('inf')], labels=['Low', 'Medium', 'High'])
df.head(15)

          DATE   OPEN   HIGH    LOW  CLOSE   LEVEL
0   01/02/1990  17.24  17.24  17.24  17.24     Low
1   01/03/1990  18.19  18.19  18.19  18.19     Low
2   01/04/1990  19.22  19.22  19.22  19.22     Low
3   01/05/1990  20.11  20.11  20.11  20.11  Medium
4   01/08/1990  20.26  20.26  20.26  20.26  Medium
5   01/09/1990  22.20  22.20  22.20  22.20  Medium
6   01/10/1990  22.44  22.44  22.44  22.44  Medium
7   01/11/1990  20.05  20.05  20.05  20.05  Medium
8   01/12/1990  24.64  24.64  24.64  24.64  Medium
9   01/15/1990  26.34  26.34  26.34  26.34  Medium
10  01/16/1990  24.18  24.18  24.18  24.18  Medium
11  01/17/1990  24.16  24.16  24.16  24.16  Medium
12  01/18/1990  24.34  24.34  24.34  24.34  Medium
13  01/19/1990  22.50  22.50  22.50  22.50  Medium
14  01/22/1990  26.70  26.70  26.70  26.70  Medium

In [9]:
#b) Add a new column 'Year' extracted from the 'Date' column. 
df["DATE"] = pd.to_datetime(df["DATE"])

df["YEAR"] = df["DATE"].dt.year

df.head(5)

        DATE   OPEN   HIGH    LOW  CLOSE   LEVEL  YEAR
0 1990-01-02  17.24  17.24  17.24  17.24     Low  1990
1 1990-01-03  18.19  18.19  18.19  18.19     Low  1990
2 1990-01-04  19.22  19.22  19.22  19.22     Low  1990
3 1990-01-05  20.11  20.11  20.11  20.11  Medium  1990
4 1990-01-08  20.26  20.26  20.26  20.26  Medium  1990

In [10]:
#4 a) Add a new row with a date of your choice and fill the other columns with appropriate values.
New_row = {'DATE': '2001-10-23', 'OPEN': '23.45', 'HIGH': '78.88', 'LOW': '23.45', 'CLOSE': '77.84', 'LEVEL': 'High', 'YEAR': '2001'}

df = df.append(New_row, ignore_index=True)

C:\Users\javie\AppData\Local\Temp\ipykernel_14340\1307312762.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(New_row, ignore_index=True)

In [12]:
#5 Analysis: a) Calculate the average of the column 'Close' for each 'Year'. 
df.groupby('YEAR')['CLOSE'].mean()

YEAR
1990    23.063478
1991    18.373373
1992    15.452047
1993    12.686245
1994    13.925516
1995    12.388770
1996    16.442165
1997    22.363984
1998    25.602976
1999    24.371912
2000    23.315000
2001    25.749677
2002    27.292460
2003    21.982857
2004    15.479644
2005    12.807063
2006    12.810320
2007    17.535936
2008    32.695534
2009    31.479008
2010    22.548889
2011    24.202579
2012    17.801640
2013    14.230119
2014    14.175992
2015    16.674087
2016    15.825635
2017    11.090239
2018    16.639841
2019    15.387540
2020    29.251304
2021    19.656151
2022    25.637148
2023    16.849027
2024    13.790000
2001    77.840000
Name: CLOSE, dtype: float64

In [16]:
#B) Count the number of 'High', 'Medium', and 'Low' Level days in the data.
df['LEVEL'].value_counts()

Low       5274
Medium    2582
High       721
Name: LEVEL, dtype: int64