# 1 Assignment 2

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [2]:
import numpy as np

In [3]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [4]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [ ]:
p2_list = [ 2 , 3, 4, 5 ]

In [5]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [17]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [1]:
# 1
## Importa la biblioteca numpy
import numpy as np

## Crea la lista f_list
f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

## Encuentra los índices de los valores np.nan
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

## Muestra los índices encontrados
print("Los índices de los valores np.nan son:", nan_indices)

Los índices de los valores np.nan son: [0, 1, 4, 7]

In [2]:
#2

## Dada la lista p2_list
p2_list = [2, 3, 4, 5]

## Replicar los valores cuatro veces
lista_replicada = p2_list * 4

## Mostrar la lista replicada
print("Lista replicada:", lista_replicada)

Lista replicada: [2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [3]:
#3
## Dada la lista f_list
f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

## Imprimir la longitud de la lista
print("La longitud de f_list es:", len(f_list))

La longitud de f_list es: 8

In [8]:
#4
## Dada la lista text1
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

## Imprimir la oración
print(' '.join(text1))

My teacher assistant is so boring.

In [14]:
#5
## Dada la lista text1
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

## Imprimir la oración modificada
print(' '.join(text1[:5] + ['boring,'] + ['but', 'is', 'very', 'funny.']))

My teacher assistant is so boring, but is very funny.

In [15]:
#6
## Dada la lista values1
values1 = [86, 86, 85, 85, 85, 83, 23, 0, 84, 1]

## Obtener el valor máximo y su índice
max_value = max(values1)
max_index = values1.index(max_value)

## Obtener el valor mínimo y su índice
min_value = min(values1)
min_index = values1.index(min_value)

## Imprimir la información utilizando f-string
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [ ]:
#7
## Dada la lista last_and_name
last_and_name = ["CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS"]

## Inicializar las listas names y last_names
names = []
last_names = []

## Iterar sobre la lista last_and_name para obtener names y last_names
for full_name in last_and_name:
    last_name, name = map(str.strip, full_name.split(','))
    names.append(name)
    last_names.append(last_name)

## Imprimir las listas resultantes
print("List of names:", names)
print("List of last names:", last_names)

In [18]:
##8
# Dada la lista de emails y last_and_name
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe"]

## Crear una lista para almacenar los apellidos de estudiantes sin email
last_names_without_email = []

## Iterar a través de ambas listas para identificar estudiantes sin emails y recopilar sus last names
for last_and_name, email in zip(last_and_name, emails):
    if not email:
        last_name = last_and_name.split(',')[0].strip()
        last_names_without_email.append(last_name)

## Imprimir los apellidos de estudiantes sin emails
print("Last names of students without email:", last_names_without_email)

Last names of students without email: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [20]:
str1 = 'I am                            too                                                        old'

In [21]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [22]:
#1 
## Given string str1 with duplicated blank spaces
str1 = 'I am                            too                                                        old'

## Split the string into a list of words
words = str1.split()

## Join the words back into a string with single spaces
result_str = ' '.join(words)

## Print the result
print("Original string:", str1)
print("String with duplicated blank spaces removed:", result_str)

Original string: I am                            too                                                        old
String with duplicated blank spaces removed: I am too old

In [23]:
##2
# Given string str1
str1 = 'I am too old'

# Use len function to get the number of letters
num_letters = len([char for char in str1 if char.isalpha()])

# Print the result
print("Original string:", str1)
print("Number of letters:", num_letters)

Original string: I am too old
Number of letters: 9

In [24]:
##3
# Given string str1
str1 = 'I am                            too                                                        old'

# Use len function to get the number of blank spaces
num_total_blank_spaces = len([char for char in str1 if char.isspace()])

# Print the result
print("Original string:", str1)
print("Total number of blank spaces:", num_total_blank_spaces)

Original string: I am                            too                                                        old
Total number of blank spaces: 85

In [27]:
##4
# Given list of emails
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# Use map and find to get the position of '@' in each email
positions_of_at = list(map(lambda email: email.find('@'), emails))

# Print the result
print("List of emails:", emails)
print("Positions of '@' in each email:", positions_of_at)

List of emails: ['cscornejo@pucp.edu.pe', 'orellana.cn@pucp.edu.pe', 'karina.morales@pucp.edu.pe', 'a20083223@pucp.pe', 'abel.camacho@pucp.pe', 'mtintaya@pucp.edu.pe', 'joselin.chavez@pucp.edu.pe', 'a20105737@pucp.pe', 'jfgomezc@pucp.pe', 'afrania.palomino@pucp.pe', 'luzon.bianca@pucp.pe', 'adrian.suanaz@pucp.pe', 'soto.y@pucp.edu.pe', 'a20132766@pucp.pe', 'andre.lama@pucp.edu.pe', 'gustavo.meza@pucp.edu.pe', 'pmlozada@pucp.edu.pe', 'm.zambranoj@pucp.edu.pe', 'nicolas.jacobs@pucp.edu.pe', 'gvidal@pucp.edu.pe', 'jane.torres@pucp.edu.pe', 'm.lopez@pucp.edu.pe', 'alejandro.boyco@pucp.edu.pe', 'a20167070@pucp.edu.pe', 'riega.stephy@pucp.edu.pe', 'vlevanot@pucp.edu.pe', 'sesquives@pucp.edu.pe', 'perez.juanc@pucp.edu.pe', 'mariana.otero@pucp.edu.pe', 'aclavo@pucp.edu.pe', 'a20182474@pucp.edu.pe', 'josue.caldas@pucp.edu.pe', 'fabio.salas@pucp.edu.pe', 'fernanda.pizarro@pucp.edu.pe', 'aquillatupa@pucp.pe']
Positions of '@' in each email: [9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [28]:
##5
# Given list of emails
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# Use map and find to check if ".edu." exists in each email
contains_edu = list(map(lambda email: ".edu." in email, emails))

# Print the result
print("List of emails:", emails)
print("Contains '.edu.' in each email:", contains_edu)

List of emails: ['cscornejo@pucp.edu.pe', 'orellana.cn@pucp.edu.pe', 'karina.morales@pucp.edu.pe', 'a20083223@pucp.pe', 'abel.camacho@pucp.pe', 'mtintaya@pucp.edu.pe', 'joselin.chavez@pucp.edu.pe', 'a20105737@pucp.pe', 'jfgomezc@pucp.pe', 'afrania.palomino@pucp.pe', 'luzon.bianca@pucp.pe', 'adrian.suanaz@pucp.pe', 'soto.y@pucp.edu.pe', 'a20132766@pucp.pe', 'andre.lama@pucp.edu.pe', 'gustavo.meza@pucp.edu.pe', 'pmlozada@pucp.edu.pe', 'm.zambranoj@pucp.edu.pe', 'nicolas.jacobs@pucp.edu.pe', 'gvidal@pucp.edu.pe', 'jane.torres@pucp.edu.pe', 'm.lopez@pucp.edu.pe', 'alejandro.boyco@pucp.edu.pe', 'a20167070@pucp.edu.pe', 'riega.stephy@pucp.edu.pe', 'vlevanot@pucp.edu.pe', 'sesquives@pucp.edu.pe', 'perez.juanc@pucp.edu.pe', 'mariana.otero@pucp.edu.pe', 'aclavo@pucp.edu.pe', 'a20182474@pucp.edu.pe', 'josue.caldas@pucp.edu.pe', 'fabio.salas@pucp.edu.pe', 'fernanda.pizarro@pucp.edu.pe', 'aquillatupa@pucp.pe']
Contains '.edu.' in each email: [True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [29]:
##6

List of emails: ['cscornejo@pucp.edu.pe', 'orellana.cn@pucp.edu.pe', 'karina.morales@pucp.edu.pe', 'a20083223@pucp.pe', 'abel.camacho@pucp.pe', 'mtintaya@pucp.edu.pe', 'joselin.chavez@pucp.edu.pe', 'a20105737@pucp.pe', 'jfgomezc@pucp.pe', 'afrania.palomino@pucp.pe', 'luzon.bianca@pucp.pe', 'adrian.suanaz@pucp.pe', 'soto.y@pucp.edu.pe', 'a20132766@pucp.pe', 'andre.lama@pucp.edu.pe', 'gustavo.meza@pucp.edu.pe', 'pmlozada@pucp.edu.pe', 'm.zambranoj@pucp.edu.pe', 'nicolas.jacobs@pucp.edu.pe', 'gvidal@pucp.edu.pe', 'jane.torres@pucp.edu.pe', 'm.lopez@pucp.edu.pe', 'alejandro.boyco@pucp.edu.pe', 'a20167070@pucp.edu.pe', 'riega.stephy@pucp.edu.pe', 'vlevanot@pucp.edu.pe', 'sesquives@pucp.edu.pe', 'perez.juanc@pucp.edu.pe', 'mariana.otero@pucp.edu.pe', 'aclavo@pucp.edu.pe', 'a20182474@pucp.edu.pe', 'josue.caldas@pucp.edu.pe', 'fabio.salas@pucp.edu.pe', 'fernanda.pizarro@pucp.edu.pe', 'aquillatupa@pucp.pe']
Strings before the first dot in each email: ['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
Number of them containing '@': 14

## 1.4 Pandas

You can and should always ask ChatGPT, BARD, Bing, etc.
In this exercise, you will work with financial data. Follow the steps below:

1. Load Data:
   Load the financial data available at this URL:    https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv
   Use `pd.read_csv()` adn the link to load the data into a DataFrame.

2. Explore Data:
   a) Display the first five rows of the DataFrame.
   b) Display the summary statistics of the DataFrame.

3. Add Columns:
   a) Add a new column 'Level' that categorizes the 'Close' column values into 'Low' (< 20), 'Medium' (20-30), and 'High' (>30). You need to make a filter to make this categorization. You can see below some suggestions how to do it.
   b) Add a new column 'Year' extracted from the 'Date' column. You need to work with dates. You can do it directly workiwith the column splitting it or changing it to date format an dfollowing the below suggestion. 

4. Add Rows:
   a) Add a new row with a date of your choice and fill the other columns with appropriate values. 

5. Analysis:
   a) Calculate the average of the column 'Close' for each 'Year'. You need to group for this task.
   b) Count the number of 'High', 'Medium', and 'Low'  Level days in the data.

Suggestions:
   - Use `pd.cut()` for categorizing 'Close' values.
   - Use `pd.to_datetime()` and `dt.year` to extract the year from a date.
   - Use `DataFrame.append()` or `pd.concat()` to add rows.
   - Use `groupby()` for aggregation tasks.

In [54]:
# Importar pandas con el alias 'pd'
import pandas as pd

# URL del conjunto de datos financiero
url = "https://raw.githubusercontent.com/datasets/finance-vix/main/data/vix-daily.csv"

# Cargar datos en un marco de datos
data_frame = pd.read_csv(url)

# Mostrar las primeras filas del marco de datos para asegurarnos de que han sido cargados correctamente
print(data_frame.head(5))

# Mostrar estadísticas resumidas del DataFrame
print(data_frame.describe())


# Añadir una nueva columna 'Level' basada en la columna 'Close'
data_frame['LEVEL'] = pd.cut(data_frame['CLOSE'], bins=[-float('inf'), 20, 30, float('inf')], labels=['Low', 'Medium', 'High'])

# Mostrar el DataFrame con la nueva columna 'Level'
print(data_frame.head())

# Convertir la columna 'Date' a formato de fecha
data_frame['DATE'] = pd.to_datetime(data_frame['DATE'])

# Añadir una nueva columna 'Year' extrayendo el año de la columna 'Date'
data_frame['YEAR'] = data_frame['DATE'].dt.year

# Mostrar el DataFrame con la nueva columna 'Year'
print(data_frame.head()) 

# Crear una nueva fila con la fecha '2024-01-06' y valores apropiados para las otras columnas
new_row = pd.DataFrame({'DATE': ['2024-01-06'], 'OPEN': [14.25], 'HIGH': [13.80], 'LOW': [13.70], 'CLOSE': [14.22], 'ADJ CLOSE': [14.15], 'VOLUME': [1150000], 'LEVEL': ['High'], 'YEAR': [2024]})

# Concatenar la nueva fila al DataFrame existente
data_frame = pd.concat([data_frame, new_row], ignore_index=True)

# Ajustar el formato de la columna 'DATE'
data_frame['DATE'] = pd.to_datetime(data_frame['DATE'], errors='coerce').dt.strftime('%Y-%m-%d')

# Eliminar las columnas 'ADJ CLOSE' y 'VOLUME'
data_frame = data_frame.drop(['ADJ CLOSE', 'VOLUME'], axis=1)

# Mostrar el DataFrame actualizado
print(data_frame.head())

# Mostrar el DataFrame con la nueva fila
print(data_frame.tail())

         DATE   OPEN   HIGH    LOW  CLOSE
0  01/02/1990  17.24  17.24  17.24  17.24
1  01/03/1990  18.19  18.19  18.19  18.19
2  01/04/1990  19.22  19.22  19.22  19.22
3  01/05/1990  20.11  20.11  20.11  20.11
4  01/08/1990  20.26  20.26  20.26  20.26
              OPEN         HIGH          LOW        CLOSE
count  8576.000000  8576.000000  8576.000000  8576.000000
mean     19.667087    20.475051    18.915540    19.581101
std       7.979316     8.440179     7.470016     7.906388
min       9.010000     9.310000     8.560000     9.140000
25%      13.937500    14.540000    13.407500    13.880000
50%      17.795000    18.470000    17.220000    17.760000
75%      23.102500    23.960000    22.322500    22.990000
max      82.690000    89.530000    72.760000    82.690000
         DATE   OPEN   HIGH    LOW  CLOSE   LEVEL
0  01/02/1990  17.24  17.24  17.24  17.24     Low
1  01/03/1990  18.19  18.19  18.19  18.19     Low
2  01/04/1990  19.22  19.22  19.22  19.22     Low
3  01/05/1990  20.11  20.11  20.11  20.11  Medium
4  01/08/1990  20.26  20.26  20.26  20.26  Medium
        DATE   OPEN   HIGH    LOW  CLOSE   LEVEL  YEAR
0 1990-01-02  17.24  17.24  17.24  17.24     Low  1990
1 1990-01-03  18.19  18.19  18.19  18.19     Low  1990
2 1990-01-04  19.22  19.22  19.22  19.22     Low  1990
3 1990-01-05  20.11  20.11  20.11  20.11  Medium  1990
4 1990-01-08  20.26  20.26  20.26  20.26  Medium  1990
         DATE   OPEN   HIGH    LOW  CLOSE   LEVEL  YEAR
0  1990-01-02  17.24  17.24  17.24  17.24     Low  1990
1  1990-01-03  18.19  18.19  18.19  18.19     Low  1990
2  1990-01-04  19.22  19.22  19.22  19.22     Low  1990
3  1990-01-05  20.11  20.11  20.11  20.11  Medium  1990
4  1990-01-08  20.26  20.26  20.26  20.26  Medium  1990
            DATE   OPEN   HIGH    LOW  CLOSE LEVEL  YEAR
8572  2023-12-29  12.55  13.19  12.36  12.45   Low  2023
8573  2024-01-02  13.22  14.23  13.10  13.20   Low  2024
8574  2024-01-03  13.35  14.22  13.33  14.04   Low  2024
8575  2024-01-04  13.93  14.20  13.64  14.13   Low  2024
8576  2024-01-06  14.25  13.80  13.70  14.22  High  2024

In [51]:
# Calcular el promedio de la columna 'Close' para cada 'Year'
average_close_by_year = data_frame.groupby('YEAR')['CLOSE'].mean()

# Mostrar el resultado
print(average_close_by_year)

YEAR
1990    23.063478
1991    18.373373
1992    15.452047
1993    12.686245
1994    13.925516
1995    12.388770
1996    16.442165
1997    22.363984
1998    25.602976
1999    24.371912
2000    23.315000
2001    25.749677
2002    27.292460
2003    21.982857
2004    15.479644
2005    12.807063
2006    12.810320
2007    17.535936
2008    32.695534
2009    31.479008
2010    22.548889
2011    24.202579
2012    17.801640
2013    14.230119
2014    14.175992
2015    16.674087
2016    15.825635
2017    11.090239
2018    16.639841
2019    15.387540
2020    29.251304
2021    19.656151
2022    25.637148
2023    16.849027
2024    37.842500
Name: CLOSE, dtype: float64

In [52]:
# Contar el número de días en cada nivel ('High', 'Medium', 'Low')
level_counts = data_frame['LEVEL'].value_counts()

# Mostrar el resultado
print(level_counts)

LEVEL
Low       5274
Medium    2582
High       721
Name: count, dtype: int64