##### Group 5: 

- POGGI SOLANO, CESAR ALEJANDRO
- NOBLEJAS GARCIA, JIMMY ALEXANDER
- PINILLOS ZEGARRA, XIMENA ALEJANDRA
- TORRES TAPIA, SEBASTIAN ELIAS

# Assignment 3

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Numpy
1. Replace all the `even_numbers` in `np1` with 100. **Hint: Use `indexing` in arrys and [this filer](https://stackoverflow.com/questions/41638751/filtering-even-numbers-in-python).** <br><br>
2. Create a 3x3 matrix with values ranging from 0 to 8. **Hint: Use `np.arange` and `np.reshape` method.** <br><br>
3. Consider an array `Z = [1,2,3,4,5,6,7,8,9,10]`, generate an array `R = [ [ 1, 2, 3, 4], [ 2, 3, 4, 5 ], [ 3, 4, 5, 6 ], ..., [ 7, 8, 9, 10 ] ]`?.**Hint: Use `np.arange` and `np.concatenate`** <br><br>
4. Create a 3x3x3 array with random values. **Hint: Use [`np.random.random`](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html).** <br><br>
5. Comment why this expression `np.nan == np.nan` is False. **Hint: Use stackoverflow.** <br><br>
6. Print the `mean` and `standard deviation` of `np2`. **Hint: Use `f-string`, `np.mean`, and `np.var` methods.**

In [ ]:
import numpy as np
np1 = np.arange( 200, 750)
np2 = np.random.normal( 50 , 4, 300)

### Solución:

#### 1)

In [ ]:
#Ejercicio 1

## Efectuamos la matriz
np1 = np.arange( 200, 750 )

## Comprobamos que tengamos la matriz de 200 al 750
print(np1)

In [ ]:
## Indicamos la lista de números pares
even_numbers = (np1%2==0) 

## Indicamos que queremos cambiar cada número par de "np1" con 100
np1[even_numbers]=100

## Comprobamos que cada elemento par de "np1" ha sido reemplazado por 100
print(np1)

#### 2)

In [ ]:
#Ejercicio 2

##Creamos el "npn" con los valores del 0 al 8
npn = np.arange(0, 9)

## Comporbamos que el array esté del 1 al 8
print(npn)

In [ ]:
## Usamos la función "np.reshape" para crear la matriz de 3x3
npn= np.reshape(npn, (3,3))

## Comporbamos que tenemos la matriz del 3x3
print (npn)

#### 3)

In [ ]:
#Ejercicio 3

## Creamos un 1D NumPy array con los valores de 1 al 10
Z = np.arange(1, 11)

## Comprobamos que el 1D NumPy array tenga los valores de 1 al 10
print (Z)
type(Z)
print(Z.shape)

In [ ]:
## Empleamos la función "np.concatenate" para unir distintos fragmentos de "Z"
R = np.concatenate (([Z[0:4]], [Z[2:6]], [Z[3:7]], [Z[4:8]], [Z[5:9]], [Z[6:10]]) , axis = 0)
print(R)

#### 4)

In [ ]:
# We create a 3x3x3 array with random values
Qu3=np.random.random((3,3,3))
print(Qu3)

#### 5)

In [ ]:
#The following expression is FALSE. Explain why. 

np.nan == np.nan

$ Explanation: $ According to stackoverflow, the IEEE 754 specification for "floating point" numbers states that undefined values ("NaN") will never be equal. This is because that standard defines how exactly a number is stored in memory (that is, what should be returned by operations and what results should be returned by comparisons).

In this sense, "NaN" is used as a kind of placeholder for an undefined state. Therefore, mathematically speaking, an undefined value is not equal to, greater than, or less than another undefined value. Therefore, it is defined by comparison that if one or both of the operands are "NaN", the result of the expression will always be false.

#### 6)

In [ ]:
# First, we got the mean of NP2
mean = np.mean(np2)
mean = str(round(mean, 2))

# Then, we got the standard deviation. We calculated the variance of np2 first and then we get the square root (np.sqrt) in order to get the standard deviation. 
var = np.var(np2)
sdev = np.sqrt(var)
sdev = str(round(sdev, 2))

#Finally, we print the result using the f-string we define
print(f"Given np2 data, its mean is {mean} and its standard deviation is {sdev}. Thank you! ")

# Pandas

Run the code bellow uncomment the second line to install savReaderWriter library. The `dict_varlabels` has the labels of the columns of rec1.

1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**
2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**. 
3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.
4. Generate a new column with the month of born. Just use the first three letters.  Use the English names of the months.

In [ ]:
import pandas as pd

In [ ]:
#read REC0111 data
#!pip install savReaderWriter
import savReaderWriter as sav
rec1 = pd.read_spss( fr"C:/Users/Alejandro/Documents/GitHub/QLAB_Summer_Workshop/Jupyter Local Host - Intro Python/REC0111.sav" )

# Get labels from sav file
with sav.SavHeaderReader( fr"C:/Users/Alejandro/Documents/GitHub/QLAB_Summer_Workshop/Jupyter Local Host - Intro Python/REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

In [ ]:
dict_varlabels

### 1. Check if CASEID identifies each observation uniquely. **[Hint: Use is_unique method.](https://pandas.pydata.org/docs/reference/api/pandas.Series.is_unique.html)**

In [ ]:
# If true it mean each observation is identifies uniquely. There's no repeated CASEIDs.
rec1['CASEID'].is_unique

### 2. Make the CASEID column the index of your data set. **[Hint: Use set_index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html)**

In [ ]:
# Since we're looking for our actual data to have a new index, we set the "inplace" argument to True otherwise it won't change
# Also we're not looking to append the CASEID column with the ID1 one, but to replace it. Hence, the "append" argument must be False.
rec1.set_index('CASEID', drop=True, append=False, inplace=True, verify_integrity=False)

In [ ]:
# Check if we indeed have changed the index
rec1

### 3. Keep women who are 15-30 years old and live in Urban areas. **[Hint: Use query](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)**.

In [1]:
import pandas as pd

In [2]:
import savReaderWriter as sav
rec1 = pd.read_spss( fr"C:\Users\XIMENA\OneDrive\Documentos\QLAB_Summer_Python\_data\endes\2019\REC0111.sav")

# Get labels from sav file
with sav.SavHeaderReader( fr"C:\Users\XIMENA\OneDrive\Documentos\QLAB_Summer_Python\_data\endes\2019\REC0111.sav", ioUtf8=True) as header:
    metadata = header.all()

dict_varlabels = metadata[3]

In [3]:
#Firstly, we check the variables we're going to use to filter the data

rec1.loc[:, ["V012", "V025"]]

       V012    V025
0      33.0  Urbano
1      12.0  Urbano
2      36.0  Urbano
3      49.0  Urbano
4      28.0  Urbano
...     ...     ...
38330  48.0   Rural
38331  31.0   Rural
38332  46.0   Rural
38333  25.0   Rural
38334  23.0   Rural

[38335 rows x 2 columns]

In [4]:
#Then we filter the data with query specifying the ages and the area. We save the new subdata in a new dataframe

rec1_filtered = rec1.query('V012 >= 15 and V012 <= 30 and V025 == "Urbano"')

In [5]:
#Finally, we print our new filtered dataframe!

rec1_filtered.loc[:, ["V012", "V025"]]

       V012    V025
4      28.0  Urbano
5      30.0  Urbano
8      18.0  Urbano
9      23.0  Urbano
12     28.0  Urbano
...     ...     ...
38162  29.0  Urbano
38163  20.0  Urbano
38164  27.0  Urbano
38165  26.0  Urbano
38170  16.0  Urbano

[12236 rows x 2 columns]

### 4. Generate a new column with the month of born. Just use the first three letters. Use the English names of the months

In [6]:
#First, we check the NULLS of our dataframe

null_sum = rec1.isnull().sum()
null_sum

ID1                0
HHID               0
CASEID             0
V001               0
V002               0
                ...
V005               0
V190               0
V191               0
mujeres12a49    1413
NCONGLOME          0
Length: 105, dtype: int64

In [7]:
#Then we duplicate the column V009 (birth month) into a new column named month_of_born
rec1['month_of_born'] = rec1['V009']
rec1.loc[:, ["month_of_born", "V009"]]

       month_of_born  V009
0                4.0   4.0
1                1.0   1.0
2                6.0   6.0
3                3.0   3.0
4                5.0   5.0
...              ...   ...
38330           12.0  12.0
38331            6.0   6.0
38332            7.0   7.0
38333           12.0  12.0
38334           10.0  10.0

[38335 rows x 2 columns]

In [8]:
#We check the number of NULLS in the new column and proceed to delete them.

rec1 = rec1.dropna(subset=["month_of_born"])
rec1.month_of_born.isnull().sum()

0

In [9]:
#To replace the values of the column 'month_of_birth' that has float types, we use the function CALENDAR. But before that
#we change the type of the values to int ones, so the function calendar can operate correctly

import calendar
rec1.month_of_born = rec1.month_of_born.astype(int)

#Then we set the language to english

import locale
locale.getlocale()

locale.setlocale(locale.LC_ALL, 'en_US.utf8')

'en_US.utf8'

In [10]:
#We apply the function lambda with calendar to replace the month numbers with abbreviated month names

rec1.month_of_born = rec1['month_of_born'].apply(lambda x: calendar.month_abbr[x])

#Finally, we print it!
print(rec1.month_of_born)

0        Apr
1        Jan
2        Jun
3        Mar
4        May
        ...
38330    Dec
38331    Jun
38332    Jul
38333    Dec
38334    Oct
Name: month_of_born, Length: 36922, dtype: object

### Another way to do it is using the REPLACE method in pandas.

In [16]:
#First we duplicate the column V009 to the new column 'birth_month'. Then we check that there is no NULLs
rec1['birth_month'] = rec1.loc[:, 'V009']

In [18]:
#The we use the REPLACE method to change the month numbers to month names.

rec1.birth_month.replace((1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0), ("JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"), inplace= True )
rec1.birth_month

0        APR
1        JAN
2        JUN
3        MAR
4        MAY
        ...
38330    DEC
38331    JUN
38332    JUL
38333    DEC
38334    OCT
Name: birth_month, Length: 36922, dtype: object

In [19]:
rec1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME,month_of_born,birth_month
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,No,010101,3.0,154803.0,Rico,1.234450,Mujeres de 15 a 49 años de edad,7065.0,Apr,APR
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,No,010101,3.0,154803.0,Rico,1.234450,"Mujeres de 12 a 14 de edad, nunca embarazadas",7065.0,Jan,JAN
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0,Jun,JUN
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,No,010101,3.0,154803.0,Rico,1.295611,Mujeres de 15 a 49 años de edad,7065.0,Mar,MAR
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,No,010101,3.0,154803.0,Pobrer,-0.256431,Mujeres de 15 a 49 años de edad,7065.0,May,MAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,250401,249.0,244995.0,El más pobre,-1.750187,Mujeres de 15 a 49 años de edad,15783.0,Dec,DEC
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,No,250401,249.0,244995.0,El más pobre,-1.676861,Mujeres de 15 a 49 años de edad,15783.0,Jun,JUN
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,No,250401,249.0,459792.0,El más pobre,-1.585333,Mujeres de 15 a 49 años de edad,15783.0,Jul,JUL
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,No,250401,249.0,459792.0,El más pobre,-1.650159,Mujeres de 15 a 49 años de edad,15783.0,Dec,DEC
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,No,250401,249.0,244995.0,El más pobre,-1.644720,Mujeres de 15 a 49 años de edad,15783.0,Oct,OCT